 .search-title
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;

.search-with-suggestion .suggestion-list
    margin-top: -16px;

.suggestion-list .suggested-item
    cursor: pointer;
